{ require_otp_vsn, "R15" }.

{ cover_enabled, true }.

{ erl_opts, [
	debug_info,
	fail_on_warning ]}.

{ deps, [

	{ mochiweb, "1.*", { git,
		"git://github.com/mochi/mochiweb.git",
		"HEAD" }},

	{ nitrogen_core, "2.*", { git,
		"git://github.com/nitrogen/nitrogen_core",
		"HEAD" } },

	{ nprocreg, "0.*", { git,
		"git://github.com/nitrogen/nprocreg",
		"HEAD" }},

	{ simple_bridge, "1.*", { git,
		"git://github.com/nitrogen/simple_bridge",
		"HEAD" }},

	{ sync, "0.*", { git,
		"git://github.com/rustyio/sync",
		"HEAD" }},

	{ openid, "0.*", { git,
		"git://github.com/brendonh/erl_openid.git",
		"HEAD" }},

	{ meck, "0.*", { git,
		"https://github.com/eproxus/meck.git",
		"HEAD" }}

]}.
